<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="PlaylistEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        <section name="PlaylistEditor.PlaylistEditor" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup><userSettings>
        <PlaylistEditor.Properties.Settings>
            <setting name="MAME_Roms_Directory" serializeAs="String">
                <value>C:\Users\Jaime\.emulationstation\roms\mame-libretro</value>
            </setting>
            <setting name="UserAgent" serializeAs="String">
                <value>Mozilla/5.0 (Windows NT 6.3; WOW64; rv:38.0) Gecko/20100101 Firefox/38.0</value>
            </setting>
            <setting name="SPM_MaxServicePoints" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="SPM_MaxServicePointIdleTime" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="SPM_UseNagleAlgorithm" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SPM_Expect100Continue" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SPM_CheckCertificateRevocationList" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SPM_DefaultConnectionLimit" serializeAs="String">
                <value>15</value>
            </setting>
        </PlaylistEditor.Properties.Settings>
    </userSettings>
</configuration>
